<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<li>
  <%= link_to root_path,class: 'nav-link' do %>
    <i class="fas fa-home"></i> Home
  <% end %>
</li>
<li>
  <%= link_to new_customer_session_path ,class: 'nav-link' do %>
    <i class="fas fa-sign-in-alt"></i> Log in
  <% end %>
</li>