/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

select option[value=""] {
  display: none;
}

/* ページネーション全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 15px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  text-decoration:underline;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  text-decoration:underline;
}
/*topページの背景画像設定*/
.main-container {
  background-image: url('/assets/spray_00218.jpg');
  background-size:cover;
}

 /*ヘッダーが常に表示されるように記述*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}
/*footerを最下部に表示されるように記述*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: radial-gradient(circle at 69% 86%, rgba(254,254,254, 0.06) 0%, rgba(254,254,254, 0.06) 25%,rgba(60,127,250, 0.07) 25%, rgba(60,127,250, 0.07) 50%,rgba(199,192,192, 0.14) 50%, rgba(199,192,192, 0.14) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(96,210,238, 0.15) 0%, rgba(96,210,238, 0.15) 25%,rgba(184,255,255, 0.11) 25%, rgba(184,255,255, 0.11) 50%,rgba(200,200,200, 0) 50%, rgba(200,200,200, 0) 75%,rgba(235,235,235, 0) 75%, rgba(235,235,235, 0) 100%),radial-gradient(circle at 22% 64%, rgba(197,197,197, 0) 0%, rgba(197,197,197, 0) 25%,rgba(177,248,248, 0.1) 25%, rgba(177,248,248, 0.1) 50%,rgba(64,64,64, 0.03) 50%, rgba(64,64,64, 0.03) 75%,rgba(0,0,0, 0.11) 75%, rgba(0,0,0, 0.11) 100%),linear-gradient(307deg, rgb(171,228,255),rgb(171,228,255));
}

.footer {
    margin-top: auto;
}