<footer style="background: linear-gradient(90deg, white,rgba(149, 229, 241, 1))">
  <br>
  <br>
  <div class="container border-top">
     <div class="row">
       <p class="mx-auto">CopyRight 竹中東小</p>
     </div>
   </div>
</footer>